@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;900&display=swap");
.slider {
  align-items: center;
  padding: 0px 0px;
  height: 100px;
  width: 50%;
  margin: 30px auto;
  border-radius: 15px; }
  .slider .carousel-control-prev, .slider .carousel-control-next {
    background-color: white; }
  .slider .collapse navbar-collapse {
    justify-content: space-evenly; }

.dropdown-item {
  background-color: white; }

.slider-holder {
  flex: flex-grow;
  width: 100vw;
  height: 100vh; }

.main-section {
  flex: flex-grow;
  width: 100vw;
  height: 100vh; }

.button {
  margin: 5% auto;
  display: inline-block;
  padding: 2% 5rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1; }
  .button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0cf;
    border-radius: 10rem;
    z-index: -2; }
  .button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #008fb3;
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1; }
  .button:hover {
    color: #fff; }
    .button:hover:before {
      width: 100%; }

.about-us {
  padding: 1.5rem;
  margin-bottom: 5rem; }
  .about-us-heading {
    font-size: 8rem;
    text-align: center; }
  .about-us-content {
    margin: 0 auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: -1rem;
    width: 50%;
    height: 80%;
    border-radius: 15px;
    background: linear-gradient(90deg, #e9d5ff, #ddd6fe, #d8b4fe); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container-button {
  padding-top: 200px;
  margin: 5% auto;
  margin-bottom: 10%;
  width: 100%;
  text-align: center; }

.container {
  position: relative;
  width: 1100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-warp: warp;
  padding: 30px; }

.container .card {
  position: relative;
  max-width: 300px;
  height: 215px;
  background-color: #fff;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  border-radius: 15px; }

.container .card .image img {
  max-width: 100%;
  border-radius: 15px; }

.card-top {
  background-color: #bfdbfe;
  position: relative;
  width: 260px;
  height: 260px;
  top: -40%;
  left: 8px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
  max-width: 100%;
  border-radius: 15px; }

.container .card .content {
  position: relative;
  top: -140px;
  padding: 10px 15px;
  color: #111;
  text-align: center;
  margin-top: 60px;
  visibility: visible; }

.logo {
  margin-top: 50px;
  object-fit: contain;
  height: 200px;
  width: 200px; }

.container-who-can-submit {
  position: absolute;
  transform: translate(-50%, -50%);
  height: 600px;
  width: 600px;
  background: #f2f2f2;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 20px 8px #d0d0d0; }

.content-who-can-submit {
  position: absolute;
  text-align: justify;
  color: black;
  padding: 40px; }

h1 {
  font-weight: 900;
  text-align: center; }

h3 {
  font-weight: 300; }

.who-can-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw; }

.space {
  height: 2rem; }

footer {
  margin-top: 100px;
  background-color: black;
  text-align: left;
  color: white;
  padding: 1rem;
  font-size: 1.5rem;
  font-family: 'Merriweather', serif; }
  footer-content {
    display: inline; }

.footer-content {
  display: inline; }

.footer-content-right {
  margin-left: 50%;
  display: inline;
  text-align: right; }

.navbar {
  height: 5rem; }

.award-of-work {
  margin-top: -80px;
  margin-bottom: -80px;
  text-align: center;
  align-items: center; }

.award-of-work-image {
  margin: 3rem auto;
  object-fit: contain;
  height: 50%;
  width: 50%;
  border-radius: 15px; }

body {
  background-color: #7dd3fc; }

.award-of-work-content {
  align-items: center;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  text-align: center;
  margin: 0 auto;
  width: 50%;
  border-radius: 15px;
  background: linear-gradient(90deg, #c4b5fd, #ddd6fe, #a5b4fc); }

.scope-of-work {
  margin-top: -20rem; }
  .scope-of-work-heading {
    font-size: 5rem; }

.icon-content {
  margin-left: 10px;
  display: inline-block; }
  .icon-content-logo {
    margin-left: 10px;
    display: inline-block;
    width: 1rem;
    height: 1rem; }

.inline-objects {
  flex-direction: row;
  flex-wrap: wrap;
  display: inline; }
